/* font style */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-color: white;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}
/* header section style */
.header-container{
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: black;
} 
/* header section left style */
.header-left-section{
    width: 50%;
    color: white;
    margin-top: 30px;
    margin-right: 50px;
    padding-right: 30px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}
.header-title{
    font-size: 25px;
    margin-left: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    line-height: 1.2;
    animation: textanimation 1s ease-in-out;
}
@keyframes textanimation{
    0%{
        letter-spacing: 20px;
    }
    100%{
        letter-spacing: 1px;
    }
}
.header-text{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    padding-left: 30px;
    margin-right: 10px;
    padding-right: 20px;
    margin-bottom: 30px;
    animation: textanimation2 1s ease-in-out;
}
@keyframes textanimation2{
    0%{
        transform:scale(0)
    }
    100%{
        letter-spacing: 1px;
    }
}
.header-btn{
    margin-left: 40px;
    padding-left: 30px;
    margin-bottom: 10px;
    text-align: center;
    width: 200px;
    height: 60px;
    background-color: red;
    color: white;
    padding-right: 10px;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
}
/* header-section-right style */
.header-section-right{
    width: 50%;
    margin-top: 0px;
    margin-left: 20px;
}
.banner-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    margin-bottom: 100px;
}
/* main section style */
/* main container style */
.main-container{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
    background-color: white;
}
/* main container left buttons style */
.main-container-btn{
    width: 20%;
    height: 250px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    padding-left:  30px ;
    padding-right: 30px ;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
.btn1{
    width: 230px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.btn1a{
    width: 230px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    background-color: red;
}
.btn1b{
    width: 230px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
/* main container blogs style */
.main-container-blog{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.blog-1{
    border: 1px solid white;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}
.blog-btn{
    margin-left: 20px;
    background-color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: gray; 
    margin-top: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 120px;
    height: 30px;
}
.blog-title{
    margin-left: 20px;
    font-size: 15px;
    color: gray; 
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}
.blog-icon{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}
.icon2{
    margin-right: 150px;
}
/* linked page style */
/* upcoming match page cards style */
.event-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 40px;
}
.upcoming-event{
    border: 1px solid white;
    box-shadow: 1px 1px 2px 2px rgb(214, 210, 210);
    width: 300px;
    height: 230px;
    padding-top: 50px;
    border-radius: 10px;

}
.flag-image{
    display: flex;
    justify-content: space-evenly;
    color: gray;
    font-family: 'Poppins', sans-serif;
}
.oposotion{
    padding-left: 10px;
    padding-right: 10px;
}

.event-title{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: gray;
    text-align: center;
}
/* upcoming match page cards style */

/* footer section style */
.footer-section{
    width: 100%;
    height: 400px;
    background-color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: gray;
}
.footer-header{
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 30px;
}
.footer-list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: gray;
    margin-top: 50px;
}
.footer-links{
    margin-top: 50px;
    color: gray;
    justify-content:center ;
    padding-left: 20px;
    padding-right: 20px;
}
.fa-brands{
    padding-left: 20px;
    padding-right: 20px;
}
/* Ends */








